name: "Prod tests for Ecommerce App"

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run lint check with ruff on Changed files
        uses: chartboost/ruff-action@v1
        with:
          changed-files: true
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest tests in verbose manner
        run: |
          python -m pytest pytest_test/ -s -vvv --cov=src/ --cov-report=term-missing

      - name: Run unittests
        run: |
          python -m unittest discover -s unit_tests/ -v

  

